**/.DS_Store
**/.idea
**/.vscode
**/target
**/**.env
**/docker_env.sh
**/**.zip
**.cache
**/production/**
**.mysql
./docker
authentication-service/src/main/resources/privatekey.pem
authentication-service/src/main/resources/publickey.pub