MYSQL_USERNAME=developer
MYSQL_PASSWORD=password
MYSQL_HOST='127.0.0.1'
MYSQL_PORT='3306'
MYSQL_ROOT_PASSWORD=
QUARKUS_LOG_HIBERNATE_LEVEL=INFO
QUARKUS_LOG_LEVEL=INFO
CACHE_DIRECTORY=

KAFKA_EXTERNAL_PORT=
KAFKA_BOOTSTRAP_URL=PLAINTEXT://10.123.123.123:19092
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://10.123.123.123:19092

SMTP_SENDER_EMAIL=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=