MYSQL_USERNAME=dev
MYSQL_PASSWORD=
MYSQL_HOST='127.0.0.1'
MYSQL_PORT='3306'
MYSQL_ROOT_PASSWORD=
CRUD_REACTIVE_HIBERNATE_PORT='8081'
QUARKUS_LOG_HIBERNATE_LEVEL=INFO
QUARKUS_LOG_LEVEL=INFO
CACHE_DIRECTORY=$HOME/.quarkus_learning
QUARKUS_HTTP_CORS_ORIGINS=http://localhost:8081